<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestion des genres</title>
    <div th:replace="fragments/layout :: header-css"></div>
</head>
<body>
<!-- HEADER menu bandeau -->
<div th:include="fragments/layout :: header-page"></div>

<!-- Fenêtre pop-up qui permet à l'utilisateur d'ajouter un nouveau nom de genre, ou de modifier celui d'un existant -->
<div class="ui modal">
    <div class="Header">
        Modification/Ajout d'un genre
    </div>
    <div class="ui padded form">
        <input type="hidden" name="id" id="id-genre">
        <div class="fourteen wide field">
            <input type="text" name="name" th:value="*{name}" id="name-genre">
        </div>
        <div class="actions">

                <div class="circular ui green icon button" onclick="validForm()">
                    <i class="white check icon icon"></i>
                </div>
                <div class="circular ui icon red button" id="iconedit" onclick="eraseGenre()">
                    <i class="white close icon icon"></i>
                </div>

        </div>
    </div>
</div>

<!-- Bouton ajouter un genre -->
<!--<input type="button" name="id" id="id-genre">-->
<button value="Ajouter un genre" onclick=""></button>

<!-- Table de tous les genres -->
<table class="ui celled table">
    <thead>
    <tr>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="genre-body">
    <!--<tr id="rgenre-template"><td id="genre-template">Un genre</td></tr>-->
    <tr th:each="genre, rowStat: ${genres}">
        <td th:text="${genre.name}" th:id="'genre'+ ${genre.id}">Un genre</td>
        <td><a class="small circular ui blue icon button"
               th:onclick="'openDialog(' + ${genre.id}+')'"><i class="small white edit icon"></i>
        </a></td>
    </tr>
    </tbody>
</table>


<!-- FOOTER fichiers javascript -->
<div th:include="fragments/layout :: footer-js"></div>

<!-- CODE JAVASCRIPT -->
<script type="application/javascript">

    $('#menu-genres').addClass("active");
    $('.ui.dropdown').dropdown();
    $('.ui.modal').modal();

    function openDialog(idGenre) {
        eltIdGenre = 'genre' + idGenre;
        elt = document.getElementById(eltIdGenre);
        console.log(elt.textContent + " (id= '" + eltIdGenre + "')");
        document.getElementById('id-genre').value = idGenre;
        document.getElementById('name-genre').value = document.getElementById(eltIdGenre).textContent;
        $('.ui.modal').modal('show');
    }

    function validForm() {
        $('.ui.modal').modal('hide');
        genreVal = {
            "id": document.getElementById('id-genre').value,
            "name": document.getElementById('name-genre').value
        };
        console.log(genreVal);
        $.ajax({
            url: '/api/genre',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: onSuccessUpdateNameGenre,
            error: onErrorOnUpdateNameGenre,
            data: JSON.stringify(genreVal)
        });
    }

    function onSuccessUpdateNameGenre(result) {
        console.log(result);
        idElt = "#genre" + result.id;
        newName = result.name
        $(idElt).text(newName);
    }


    function onErrorOnUpdateNameGenre(jqXHR, textStatus, errorThrown) {
        alert("Echec de l'opération de mise à jour...");
        console.log('jqXHR:');
        console.log(jqXHR);
        console.log("message d'erreur: "+jqXHR.responseJSON.message);
        console.log('textStatus:');
        console.log(textStatus);
        console.log('errorThrown:');
        console.log(errorThrown);
    }

    function addGenre() {
        $('.ui.modal').modal('hide');
        genreVal = {
            // "id": $('#id-genre').val(),
            "name": $('#name-genre').val()
        };
        // console.log(genreVal);
        $.ajax({
            url: '/api/genre',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: onSuccessAddNameGenre,
            error: onErrorOnUpdateNameGenre,
            data: JSON.stringify(genreVal)
        });

    }

    function onSuccessAddNameGenre(result) {
// /*        console.log(result);
//         idElt = "#genre" + result.id;
//         newName = result.name
//         $(idElt).text(newName);*/
        var row = $('#rgenre-template').clone();
        row.attr("id", 'rgenre'+result.id);
        col = row.find('#genre-template');
        col.attr("id", 'genre'+result.id);
        col.text(result.name);
        row.attr("onclick", 'openDialogMod('+ result.id +')');
        $("#genre-body").append(row);
        row.show();
    }


    // function onErrorOnAddNameGenre(jqXHR, textStatus, errorThrown) {
    //     alert("Echec de l'opération de suppression...");
    //     console.log('jqXHR:');
    //     console.log(jqXHR);
    //     console.log("message d'erreur: "+jqXHR.responseJSON.message);
    //     console.log('textStatus:');
    //     console.log(textStatus);
    //     console.log('errorThrown:');
    //     console.log(errorThrown);
    // }

    function eraseGenre() {
        $('.ui.modal').modal('hide');
        // console.log("Ecrire la méthode permettant de supprimer un genre");
        genreVal = {
            "id": document.getElementById('id-genre').value,
            "name": document.getElementById('name-genre').value
        };
        console.log(genreVal);
        $.ajax({
            url: '/api/genre',
            type: 'delete',
            dataType: 'json',
            contentType: 'application/json',
            success: onSuccessDeleteNameGenre,
            error: onErrorOnDeleteNameGenre,
            data: JSON.stringify(genreVal)
        });

    }

    function onSuccessDeleteNameGenre(result) {
        console.log(result);
        idElt = "#genre" + result.id;
        newName = result.name
        // $(idElt).remove(idElt);
        // $('#iconedit').removeAttr('style').hide();
        // $('#iconedit').parents('tr').remove();
        $(idElt).parents('tr').remove();
    }


    function onErrorOnDeleteNameGenre(jqXHR, textStatus, errorThrown) {
        alert("Echec de l'opération de suppression...");
        console.log('jqXHR:');
        console.log(jqXHR);
        console.log("message d'erreur: "+jqXHR.responseJSON.message);
        console.log('textStatus:');
        console.log(textStatus);
        console.log('errorThrown:');
        console.log(errorThrown);
    }

</script>
</body>
</html>